<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<style type="text/css">
.top {
	filter: alpha(opacity = 65);
	opacity: 0.65;
}
</style>
	<p:notificationBar position="top" effect="slide"
		widgetVar="launchpadApp" styleClass="top">
		<p:dashboard id="board" model="#{launchpadBean.launchpad}">
			<p:panel id="dash-finder" columns="1" style="border:none;">
				<p:commandLink onclick="PF('finderApp').show();PF('launchpadApp').hide();">  
					<p:graphicImage width="50px" height="50px"
					value="/images/finder.png" alt="Finder"/>
				</p:commandLink>
			</p:panel>

			<p:panel id="dash-contacts" columns="1" style="border:none;">
						<p:commandLink onclick="PF('contactApp').show();PF('launchpadApp').hide();">
				<p:graphicImage width="50px" alt="#{msg['contact_manager']}" height="50px"
					value="/images/contact.png" />
					</p:commandLink>
			</p:panel>

			<p:panel id="dash-relation" columns="1" style="border:none;">
			<p:commandLink onclick="PF('relationApp').show();PF('launchpadApp').hide();">  
				<p:graphicImage width="50px" height="50px"
					value="/images/relation.png" alt="Relations"/>
					</p:commandLink>
			</p:panel>

			<p:panel id="dash-terminal" columns="1" style="border:none;">
			<p:commandLink onclick="PF('terminalApp').show();PF('launchpadApp').hide();">  
				<p:graphicImage width="50px" height="50px" alt="Terminal"
					value="/images/terminal.png" />
				</p:commandLink>
			</p:panel>

			<p:panel id="dash-theme" columns="1" style="border:none;">
				<p:commandLink onclick="PF('themeApp').show();PF('launchpadApp').hide();">  
				<p:graphicImage alt="Themes" width="50px" height="50px" value="/images/theme.png" />
				</p:commandLink>
			</p:panel>

			<p:panel id="dash-exporter" columns="1" style="border:none;">
			<p:commandLink onclick="PF('exporterApp').show();PF('launchpadApp').hide();">  
				<p:graphicImage width="50px" height="50px" alt="#{msg['data_importer_exporter']}"
					value="/images/time_machine.png" />
			</p:commandLink>
			</p:panel>
		</p:dashboard>
	</p:notificationBar>
</ui:composition>