<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="group_form">
		<p:growl id="group_id" autoUpdate="true" sticky="true" showDetail="true" />
		<p:wizard flowListener="#{groupBean.onFlowProcess}">

			<p:tab id="group_creation" title="#{msg['group_add']}"
				titleStyle="font-size:12px;">
				<p:panel header="#{msg['group_add']}">
					<h:panelGrid columns="3"
						columnClasses="label, value, commandButton" styleClass="grid">

						<h:outputText value="#{msg['groupName']} : *" />
						<p:inputText required="true" label="GroupName"
							value="#{groupBean.groupName}" />

						<p:commandButton value="#{msg['add']}" icon="ui-icon-circle-plus"
							actionListener="#{groupBean.createGroup}" />

					</h:panelGrid>
				</p:panel>
			</p:tab>

			<p:tab id="group_selection" title="#{msg['group_select']}"
				titleStyle="font-size:12px;">
				<p:contextMenu for="groups">
					<p:menuitem value="#{msg['remove']}" update="groups"
						icon="ui-icon-close" actionListener="#{groupBean.remove}" />

				</p:contextMenu>
				<p:dataTable id="groups" var="group" value="#{groupBean.groups}"
					sortMode="multiple" rows="15" paginator="true" rowKey="#{group.id}"
					selection="#{groupBean.selectedGroups}" selectionMode="single">
					<p:column sortBy="id" headerText="Id">
						<h:outputText value="#{group.id}" />
					</p:column>
					<p:column sortBy="groupName" headerText="#{msg['groupName']}">
						<h:outputText value="#{group.groupName}" />
					</p:column>
				</p:dataTable>
			</p:tab>

			<p:tab id="group_association" title="#{msg['group_update']}"
				titleStyle="font-size:12px;">
				<p:pickList id="contact_pickList" value="#{groupBean.contacts}"
					var="contact" itemLabel="#{contact}" itemValue="#{contact.id}">
					<f:facet name="sourceCaption" value="Contacts}" />
					<f:facet name="targetCaption"
						value="#{groupBean.selectedGroups.groupName}" />

				</p:pickList>


				<p:commandButton value="#{msg['update']}" icon="ui-icon-circle-check"
					action="#{groupBean.saveContacts}" />
			</p:tab>
		</p:wizard>
	</h:form>
</ui:composition>