<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:outputText value="#{msg['choose_theme']}" /><br /><br />
	<p:themeSwitcher style="width:165px" id="defaultSwitcher">
		<f:selectItem itemValue="" />
		<f:selectItems value="#{themeBean.themes}" />
	</p:themeSwitcher>
</ui:composition>
