<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:form id="relation_refresh">
	<p:mindmap value="#{relationBean.root}" style="width:500px;height:350px;">
		<p:ajax event="select" listener="#{relationBean.onNodeSelect}" />  
	</p:mindmap>
	 <p:commandButton value="#{msg['refresh']}"  actionListener="#{relationBean.refresh}" styleClass="ui-priority-primary"/>
	 </h:form>  
</ui:composition>
