<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">



	<h:form id="contact_add_form">
		<p:growl id="growl" sticky="true" showDetail="true" />
		<p:panel header="#{msg['personal_detail']}">
			<p:panelGrid columns="2" >
				<h:outputText value="#{msg['lastname']}" />
				<p:inputText value="#{contactBean.contact.lastName}" />

				<h:outputText value="#{msg['firstname']}" />
				<p:inputText value="#{contactBean.contact.firstName}" />

				<h:outputText value="#{msg['email']}" />
				<p:inputText value="#{contactBean.contact.email}" />
				
			</p:panelGrid>
		</p:panel>
				
		<p:panel header="#{msg['address']}">
			<p:panelGrid columns="2" >

				<h:outputText value="#{msg['street']} " />
				<p:inputText value="#{contactBean.contact.add.street}" />

				<h:outputText value="#{msg['zip']} " />
				<p:inputText value="#{contactBean.contact.add.zip}" />

				<h:outputText value="#{msg['country']} " />
				<p:inputText value="#{contactBean.contact.add.city}" />
		
			</p:panelGrid>
		</p:panel>
				
		<p:panel header="#{msg['phone']}">
			<p:panelGrid columns="2" >
				
				<h:outputText value="Domicile: " />
				<p:inputText value="#{contactBean.contact.profiles[0].phoneNumber}" />
				
				<h:outputText value="#{msg['mobile']}" />
				<p:inputText value="#{contactBean.contact.profiles[1].phoneNumber}" />
				
				<h:outputText value="#{msg['pro']} " />
				<p:inputText value="#{contactBean.contact.profiles[2].phoneNumber}" />
				
			</p:panelGrid>
		</p:panel>
			<p:commandButton value="#{msg['submit']}"  actionListener="#{contactBean.add}" onclick="PF('contact_add').hide()"/>
			
		

	</h:form>
</ui:composition>

