<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:form id="contact_form">
		<p:growl showDetail="true" id="messages" autoUpdate="true" />
		<p:contextMenu for="contacts">
			<p:menuitem value="#{msg['add']}" update="contacts"
				icon="ui-icon-disk" onclick="PF('contact_add').show()" />
			<p:menuitem value="#{msg['remove']}" update="contacts"
				icon="ui-icon-close" actionListener="#{contactBean.remove}" />
		</p:contextMenu>
		<p:dataTable id="contacts" var="contact"
			value="#{contactBean.contacts}" sortMode="multiple" rows="15"
			paginator="true" rowKey="#{contact.id}"
			selection="#{contactBean.selectedContacts}" selectionMode="multiple">
			<p:column sortBy="id" headerText="Id">
				<h:outputText value="#{contact.id}" />
			</p:column>

			<p:column sortBy="lastName" headerText="#{msg['lastname']}">
				<h:outputText value="#{contact.lastName}" />
			</p:column>

			<p:column sortBy="firstName" headerText="#{msg['firstname']}">
				<h:outputText value="#{contact.firstName}" />
			</p:column>

			<p:column sortBy="email" headerText="#{msg['email']}">
				<h:outputText value="#{contact.email}" />
			</p:column>
		</p:dataTable>
	</h:form>
	
</ui:composition>