<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="exporter_form">
		<h:outputText value="#{msg['export_help']}" />
		<br />
		<br />
		<p:growl showDetail="true" id="export_messages" autoUpdate="true" />
		<p:fieldset legend="#{msg['contacts']}" toggleable="true"
			toggleSpeed="500">
			<h:panelGrid columns="2" cellpadding="10">
				<p:commandButton value="XML" ajax="false"
					actionListener="#{downloadBean.contacts_xml}"
					icon="ui-icon-arrowthick-1-s" update="export_messages">
					<p:fileDownload value="#{downloadBean.file}" />
				</p:commandButton>
				<p:commandButton value="JSON" ajax="false"
					actionListener="#{downloadBean.contacts_json}"
					icon="ui-icon-arrowthick-1-s" update="export_messages">
					<p:fileDownload value="#{downloadBean.file}" />
				</p:commandButton>
			</h:panelGrid>
		</p:fieldset>
		<p:fieldset legend="#{msg['groups']}" toggleable="true"
			toggleSpeed="500">
			<h:panelGrid columns="2" cellpadding="10">
				<p:commandButton value="XML" ajax="false"
					actionListener="#{downloadBean.groups_xml}"
					icon="ui-icon-arrowthick-1-s">
					<p:fileDownload value="#{downloadBean.file}" />
				</p:commandButton>
				<p:commandButton value="JSON" ajax="false"
					actionListener="#{downloadBean.groups_json}"
					icon="ui-icon-arrowthick-1-s">
					<p:fileDownload value="#{downloadBean.file}" />
				</p:commandButton>
			</h:panelGrid>

		</p:fieldset>
	</h:form>
</ui:composition>