<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<p:tabView id="tabView">
		<p:tab id="tab1" title="#{msg['export']}">
			<ui:include src="/applications/exporter/exporter.xhtml" />
		</p:tab>
		<!--<p:tab id="tab2" title="#{msg['import']}">
			<ui:include src="/applications/exporter/importer.xhtml" />
		</p:tab>-->
		<p:tab id="tab3" title="#{msg['social_network']}">
			<ui:include src="/applications/exporter/social_importer.xhtml" />
		</p:tab>		
	</p:tabView>
</ui:composition>
