<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="importer_form">
		<h:outputText value="#{msg['export_help']}" />
		<!-- TODO : Changer le message d'erreur -->
		<br />
		<br />

		<h:panelGrid columns="3" cellpadding="10">
			<p:fileUpload fileUploadListener="#{importBean.handleFileUpload}"
				mode="advanced" multiple="true" dragDropSupport="false"
				update="import_messages" sizeLimit="10000000" fileLimit="3"
				allowTypes="/(\.|\/)(xml|json)$/" />

		</h:panelGrid>
		<p:growl showDetail="true" id="import_messages" autoUpdate="true" />
	</h:form>
</ui:composition>
