<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="social_form">
		<p:wizard flowListener="#{socialBean.onFlowProcess}">
			<p:tab id="type" title="#{msg['social_network']}">
				<p:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
					<h:outputText value="#{msg['select_social_network']} : " />
					<p:selectOneButton value="#{socialBean.type}">
						<f:selectItem itemLabel="LinkedIn" itemValue="1" />
					</p:selectOneButton>
				</p:panelGrid>
			</p:tab>
			<p:tab id="verifier" title="#{msg['verifier']}">
				<p:panelGrid columns="2" style="margin-bottom:10px;">
					<h:outputText value="#{msg['enter_verifier']} : " />
					<p:inputText value="#{socialBean.verifier}" />
					<h:outputScript rendered="true" >window.open('#{socialBean.url}');</h:outputScript><br />
				</p:panelGrid>
			</p:tab>
		</p:wizard>
	</h:form>
</ui:composition>