<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="finder_bean_form">
		<p:growl showDetail="true" id="finder_messages" autoUpdate="true" />
		<p:panelGrid columns="2" cellpadding="10" style="margin-left:15px;">
			<p:inputText id="searchRequest" value="#{finderBean.searchRequest}" />
			<p:commandButton update="searchResults" value="#{msg['search']}" actionListener="#{finderBean.executeSearch}"/>
		</p:panelGrid><br />
		<p:dataTable id="searchResults" var="search"
			value="#{finderBean.datas}" sortMode="multiple" rows="15"
			paginator="true" rowKey="#{search.name}">
			<p:column sortBy="id" headerText="Id">
				<h:outputText value="#{search.id}" />
			</p:column>

			<p:column sortBy="name" headerText="#{msg['lastname']}">
				<h:outputText value="#{search.name}" />
			</p:column>

			<p:column sortBy="type" headerText="Type">
				<h:outputText value="#{search.type}" />
			</p:column>
		</p:dataTable>
	</h:form>
</ui:composition>