<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:include src="applications/launchpad/launchpad.xhtml"></ui:include>

	
	<p:dialog header="#{msg['contact_add']}" widgetVar="contact_add" showEffect="puff" hideEffect="puff" modal="true">
		<ui:include src="applications/contact/add.xhtml"></ui:include>
	</p:dialog>
	
	<p:dialog header="#{msg['contact_manager']}" widgetVar="contactApp"
		showEffect="puff" hideEffect="puff">
		<ui:include src="applications/contact/show.xhtml"></ui:include>
	</p:dialog>

	<p:dialog header="Finder" widgetVar="finderApp"
		showEffect="puff" hideEffect="puff">
		<ui:include src="applications/finder/finder.xhtml"></ui:include>

	</p:dialog>
	
		<p:dialog header="Relations" widgetVar="relationApp"
		showEffect="puff" hideEffect="puff">
		<ui:include src="applications/relation/relation.xhtml"></ui:include>
	</p:dialog>
	<p:dialog header="Terminal" widgetVar="terminalApp" showEffect="puff"
		hideEffect="puff">
		<ui:include src="applications/terminal/terminal.xhtml"></ui:include>
	</p:dialog>
	<p:dialog header="Themes" widgetVar="themeApp" showEffect="puff"
		hideEffect="puff">
		<ui:include src="applications/theme/theme.xhtml"></ui:include>
	</p:dialog>
	<p:dialog header="#{msg['data_importer_exporter']}" widgetVar="importerExporterApp" showEffect="puff"
		hideEffect="puff">
		<ui:include src="applications/exporter/global_importer_exporter.xhtml"></ui:include>
	</p:dialog>
	<p:dialog header="#{msg['group_manager']}" widgetVar="groupApp"
		showEffect="puff" hideEffect="puff">
		<ui:include src="applications/group/show.xhtml"></ui:include>
	</p:dialog>
</ui:composition>
