<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<p:menuitem value="Finder" icon="/images/finder.png" url="#" 
		onclick="PF('finderApp').show();"/>
	<p:menuitem value="Launchpad" icon="/images/launchpad.png"
		onclick="switchLaunchpad();" url="#" />
	<p:menuitem value="#{msg['contact_manager']}"
		icon="/images/contact.png" onclick="PF('contactApp').show();" url="#" />
	<p:menuitem value="#{msg['group_manager']}" icon="/images/group.png"
		onclick="PF('groupApp').show();" url="#" />
	<p:menuitem value="Relations" icon="/images/relation.png"
		onclick="PF('relationApp').show();" url="#" />
	<p:menuitem value="#{msg['data_importer_exporter']}" icon="/images/time_machine.png"
		onclick="PF('importerExporterApp').show();" url="#" />
</ui:composition>
