<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
	<title>MDOC OS X</title>
	<link rel="text/css" href="http://fonts.googleapis.com/css?family=Cinzel"/>
		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				font-family: Cinzel, geneva, arial, helvetica, sans-serif;
				font-size: 75%;
				background-image: url("images/desktop.jpg");
			}
		</style>
	</h:head>
</ui:composition>
