<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:include src="head.xhtml" />
<script type="text/javascript">
	var launchpadStart = false;
	function switchLaunchpad() {
		if(launchpadStart) {
			PF('launchpadApp').hide();
			launchpadStart = false;
		} else {
			PF('launchpadApp').show();
			launchpadStart = true;
		}
	}
</script>
<h:body>
	<ui:include src="application.xhtml" />
	<p:dock>
		<ui:include src="dock.xhtml"/>
	</p:dock>
</h:body>
</html>