<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="terminal_form_id">
		<p:focus for="terminal" />
		<p:terminal id="terminal" widgetVar="term" commandHandler="#{terminalBean.handleCommand}" prompt="$"/>
 		<p:commandButton type="button" value="#{msg['clear']}" icon="ui-icon-trash" onclick="PF('term').clear()" style="margin-top:10px"/>  
	</h:form>
</ui:composition>